@media (max-width: 575.98px) {

    .banner-sec {
        min-height: 110vh;
    }

    .overlay {
        height: 110vh;
    }

    .banner-img img {
        height: 110vh;
    }

    .contact-page-sec {
        padding: 20px 15px 50px 15px;
    }

    .contact-form {
        margin-top: 1rem;
    }

    .social-icon-box {
        flex-direction: row;
        bottom: -20px;
        left: 25%;
    }

    .coworking-servic-box {
        width: 100%;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h1 {
        font-size: 40px;
    }

    .review-sec {
        flex-direction: column;
    }

    .review-btn {
        width: 100%;
    }

    .social-icons {
        justify-content: start;
    }

    .accordion-body {
        width: 93%;
        margin: auto;
        margin-top: -10px;
    }
    .founder-sec .row{
        flex-direction: column-reverse !important;
    }

    .founder-img img{
        position: relative;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
    }

    p,
    a,
    li {
        font-size: 16px;
    }

    .pricing-slider {
        margin-left: 0;
    }

    .price-slider-btnbox {
        display: none;
    }

    .accordion-body {
        width: 97%;
        margin: auto;
        margin-top: -10px;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}