@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --dark: #000;
    --grey: #6A6A6A;
    --ligthgrey: #D8D8D8;
    --purple: #c070ff;
    --yellow: #fdb617;
    --red: #EA455F;
    --sky: #00B8CF;
}

body {
    background-color: #ffffff;
    color: #6A6A6A;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-family: Jost;
    font-size: 70px;
    font-weight: 700;
    line-height: 101px;
    letter-spacing: 0em;
    text-align: center;

    font-size: 70px;
    font-weight: 400;
    line-height: 101px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0em;


}

h3 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0em;


}

p {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;

}

a {
    text-decoration: none;
    color: var(--dark);
}

li {
    list-style: none;
    /* margin-left: -20px; */
    margin-bottom: 10px;
}

button {
    outline: none;
    border: none;
}

/* custom classes is here  */

.red-text {
    color: var(--red);
}

.purplr-text {
    color: var(--purple);
}

.yellow-text {
    color: var(--yellow);
}

.sky-text {
    color: var(--sky);
}

.cta-btn1 {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--yellow);
    text-transform: uppercase;
    background-color: var(--yellow);
    color: var(--white);
    transition: all 0.3s linear;
}

.cta-btn1:hover {
    background-color: #e6a312;
    color: var(--white);
    transition: all 0.3s linear;

}

/* Header style start here  */
header {
    z-index: 1;
}

.navbar-nav {
    gap: 20px;
}

.navbar-nav li a {
    color: var(--white);
    font-size: 20px;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    color: var(--purple);
}

.navbar-nav .active {
    color: var(--purple);
    /* border-bottom: 2ps solid var(--purple); */

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #ffffff63;
    border-radius: 10px;
    padding: 0 0 0 20px;
}

.dropdown-item:hover {
    border-radius: 10px;
    background-color: #ffffff63;
    color: var(--white) !important;
}


/* Banner secton style start here  */
.banner-sec {
    margin-top: -110px;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: -3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    opacity: 0.5;
    z-index: -2;

}

.banner-content {
    z-index: 3;
}


/* Gallery section style start here  */
.gallery-slider-1 {
    display: flex;
    gap: 10px;
    /* padding: 0px 20px; */
}

.gallery-slide {
    padding: 10px;

}

.gallery-slide img {
    border-radius: 30px;
    max-height: 300px;
}

/* Community section style start here  */

.comunnity {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.comunnity img {
    max-height: 70px;
}


/* commounity tab section is here */
.nav-pills .nav-link {
    color: var(--grey);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--white);
    border-radius: 10px;
    color: var(--dark);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);

}

.tab-pane {
    padding: 20px;
}

.tab-pane h3 {
    color: var(--dark);
}

.checked {
    color: gold;
}

.review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 310px;
    padding: 9px;
}


.review-btn img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.review-btn p {
    margin: 0;
}

/* Contact section is here */

.contact-form {
    max-width: 400px;
    margin: auto;
}

.form-group {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 10px;
    border-radius: 10px;
}

.form-group .form-control {
    border: 1px solid #fff !important;
}


.scribe-box {
    /* padding: 20px 50px;
    border-radius: 15px;
    margin-top: -140px;
    text-align: center; */
}

.scribe-box form {
    margin: auto;
    width: 100%;
    display: flex;
    border-radius: 30px;
    border: 1px solid var(--ligthgrey);
    background-color: var(--white);

}

.scribe-box form input {
    border-radius: 30px;
    border: none;
}

.scribe-box form button {
    background-color: var(--sky);
    color: var(--white);
    border-radius: 0px 30px 30px 30px;
    padding: 5px 20px;
    transition: all 0.3s linear;
}

.scribe-box form button:hover {
    background-color: #0ba3b7;
    transition: all 0.3s linear;

}


/* Footer section is here */

footer h3 {
    color: var(--dark);
}

footer li a {
    color: var(--grey);
}

.social-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
}

.social-icons a {
    color: var(--grey);
    transition: all 0.3s linear;
}

.social-icons a:hover {
    transition: all 0.3s linear;
    color: var(--sky);
}



/* -------------------------Co-Working Page style is here ----------------------- */

/* banner section start here  */
.coworking-servic-box {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.coworking-service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coworking-service-icon img {
    max-width: 45px;
}

.coworking-service-icon p {
    font-size: 16px;
}


/* Pricing section start here  */
.pricing-slider {
    display: flex;
    padding: 30px 10px;
    margin-left: 10%;
}

.priceing-slide {
    /* background-color: #00B8CF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px 10px 0 0;
}

.priceing-slide-active .slick-current img {
    /* filter: grayscale(0%) !important; */
}

.priceing-slide img {
    border-radius: 10px 10px 0 0;
    /* max-width: 280px; */
    /* filter: grayscale(100%); */
}

/* Service Booking steps section start here  */
.steps-box {
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 20px;
    min-height: 302px;
}

.steps-box img {
    max-width: 200px;
}